<div class='container'>
  <div class="form_partial">
    <div class="form_form">
      <div class="form-group">
        <div class="form_question">
          <span><label>Are you Satisfied with our Service?</label></span>
          <div class="rating">
            <input type="radio" name="question_1" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_1" value="1" /><span></span>
            <input type="radio" name="question_1" value="2" /><span></span>
            <input type="radio" name="question_1" value="3" /><span></span>
            <input type="radio" name="question_1" value="4" /><span></span>
            <input type="radio" name="question_1" value="5" /><span></span>
          </div>

        </div>
        <label>How do you estimate the following criteria?</label>
        <div class="form_question">
          <span><label>1. Capacity to understand our need</label></span>
          <div class="rating">
            <input type="radio" name="question_2" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_2" value="1" /><span></span>
            <input type="radio" name="question_2" value="2" /><span></span>
            <input type="radio" name="question_2" value="3" /><span></span>
            <input type="radio" name="question_2" value="4" /><span></span>
            <input type="radio" name="question_2" value="5" /><span></span>
          </div>

        </div>
        <div class="form_question">
          <span></span><label>2. Quality of the proposal and relevance of the solution</label></span>
          <div class="rating">
            <input type="radio" name="question_3" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_3" value="1" /><span></span>
            <input type="radio" name="question_3" value="2" /><span></span>
            <input type="radio" name="question_3" value="3" /><span></span>
            <input type="radio" name="question_3" value="4" /><span></span>
            <input type="radio" name="question_3" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>3. Diligence and transparency of the customer relationship</label></span>
          <div class="rating">
            <input type="radio" name="question_4" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_4" value="1" /><span></span>
            <input type="radio" name="question_4" value="2" /><span></span>
            <input type="radio" name="question_4" value="3" /><span></span>
            <input type="radio" name="question_4" value="4" /><span></span>
            <input type="radio" name="question_4" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>4. Reactivity to problems</label></span>
          <div class="rating">
            <input type="radio" name="question_5" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_5" value="1" /><span></span>
            <input type="radio" name="question_5" value="2" /><span></span>
            <input type="radio" name="question_5" value="3" /><span></span>
            <input type="radio" name="question_5" value="4" /><span></span>
            <input type="radio" name="question_5" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>5. Ability to anticipate and duty to advise</label></span>
          <div class="rating">
            <input type="radio" name="question_6" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_6" value="1" /><span></span>
            <input type="radio" name="question_6" value="2" /><span></span>
            <input type="radio" name="question_6" value="3" /><span></span>
            <input type="radio" name="question_6" value="4" /><span></span>
            <input type="radio" name="question_6" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>6. Effectiveness of the service organization</label></span>
          <div class="rating">
            <input type="radio" name="question_7" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_7" value="1" /><span></span>
            <input type="radio" name="question_7" value="2" /><span></span>
            <input type="radio" name="question_7" value="3" /><span></span>
            <input type="radio" name="question_7" value="4" /><span></span>
            <input type="radio" name="question_7" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>7. Effectiveness of the resources management</label></span>
          <div class="rating">
            <input type="radio" name="question_8" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_8" value="1" /><span></span>
            <input type="radio" name="question_8" value="2" /><span></span>
            <input type="radio" name="question_8" value="3" /><span></span>
            <input type="radio" name="question_8" value="4" /><span></span>
            <input type="radio" name="question_8" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>8. Appropriate skills</label></span>
          <div class="rating">
            <input type="radio" name="question_9" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_9" value="1" /><span></span>
            <input type="radio" name="question_9" value="2" /><span></span>
            <input type="radio" name="question_9" value="3" /><span></span>
            <input type="radio" name="question_9" value="4" /><span></span>
            <input type="radio" name="question_9" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>9. Service continuity</label></span>
          <div class="rating">
            <input type="radio" name="question_10" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_10" value="1" /><span></span>
            <input type="radio" name="question_10" value="2" /><span></span>
            <input type="radio" name="question_10" value="3" /><span></span>
            <input type="radio" name="question_10" value="4" /><span></span>
            <input type="radio" name="question_10" value="5" /><span></span>
          </div>
        </div>
        <div class="form_question">
          <span><label>10. Autonomy of resources</label></span>
          <div class="rating">
            <input type="radio" name="question_11" value="0" checked /><span class="hide"></span>
            <input type="radio" name="question_11" value="1" /><span></span>
            <input type="radio" name="question_11" value="2" /><span></span>
            <input type="radio" name="question_11" value="3" /><span></span>
            <input type="radio" name="question_11" value="4" /><span></span>
            <input type="radio" name="question_11" value="5" /><span></span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>