<div class="form_partial">
	<div class="container" style="overflow:auto;">
	    <div ng-if="done==0" class="loading">
		</div>
		
		<div ng-if="done==1">
			<form name="satisfaction_form" ng-submit="submitForm(project.Id)">
		
			  <div ng-repeat="question in questions">
				<div class="form_question">
				  <div class="qdesc"><span>{{question.number}} / </span>{{question.description}}</div>
				  <div class="rating">
					<input type="radio" ng-model="question.value" name="{{question.id}}" value="0"/>
					<span class="hide"></span>
					<input type="radio" ng-model="question.value" name="{{question.id}}" value="1"/>
					<span></span>
					<input type="radio" ng-model="question.value" name="{{question.id}}" value="2"/>
					<span></span>
					<input type="radio" ng-model="question.value" name="{{question.id}}" value="3"/>
					<span></span>
					<input type="radio" ng-model="question.value" name="{{question.id}}" value="4"/>
					<span></span>
					<input type="radio" ng-model="question.value" name="{{question.id}}" value="5"/>
					<span></span>
					
				  </div>
				  <div ng-show="question.value <= 2 && question.value !== 0" class="unsatisfaction">
					  <textarea rows="6" cols="50" ng-model="question.comments" placeholder="What are proposed improvement actions"></textarea>
				  </div>
				</div>
			  </div>
			  
			  <div class="formerror" ng-if="formfailed>0">{{formerrormessage}}</div>
			  
			  <input type="submit" value="Submit" class="submitFormButton">
			</form>
		</div>
	</div>
</div>