<div class="login_partial">
	<div class="login_form">
		<div class="login_logo"></div>
		<div class="login_user">
			<div class="login_user_name"></div>
			<div class="login_pipe"></div>
			<input type="text" id="login_username" class="login_textarea" placeholder="USERNAME"/>
		</div>
		<div class="login_pass">
			<div class="login_pass_name"></div>
			<div class="login_pipe"></div>
			<input type="password" id="login_password"  class="login_textarea" placeholder="PASSWORD"/>
		</div>
		<div ng-click="login()" class="login_button">LOGIN</div>
	</div>
</div>