<div class='container'>
      <div class="form_partial">
            <form name="mail_form" ng-submit="send_email(mail_form)">
                  <div class="form-group" ng-class="{ 'has-error': contactform.inputName.$invalid && submitted }">
                            <label for="inputName">Name</label>
                                <input ng-model="formData.inputName" type="text" class="form-control" id="inputName" name="inputName" placeholder="Your Name" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputEmail.$invalid && submitted }">
                            <label for="inputEmail">Email</label>
                                <input ng-model="formData.inputEmail" type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputSubject.$invalid && submitted }">
                            <label for="inputSubject">Subject</label>
                                <input ng-model="formData.inputSubject" type="text" class="form-control" id="inputSubject" name="inputSubject" placeholder="Subject Message" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': contactform.inputMessage.$invalid && submitted }">
                            <label for="inputMessage">Message</label>
                                <textarea ng-model="formData.inputMessage" class="form-control" rows="6" cols="50" id="inputMessage" name="inputMessage" placeholder="Your message..." required></textarea>
                        </div>
                        <div class="form-group">
                                <button type="submit" ng-disabled="submitButtonDisabled">
                                    Send Message
                                </button>
                        </div>
            </form>
      </div>
</div>