/* FONTS ------------------------------------------------------------------------------------------------ */

@font-face
{
  font-family: LUCIDA;
  src: url(../fonts/LucidaSansRegular.ttf);
}

@font-face {
  font-family: ALEGREYA;
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/AjAmkoP1y0Vaad0UPPR466YU_-P-PSoScPQN92M0xOA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/AjAmkoP1y0Vaad0UPPR46-s4332CIbGY9ipgCXO5zgA.woff) format('woff');
}

@font-face {
  font-family: SOURCESANS;
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}


/*----------------------------------------------------------------------*/

.header {
	background-color: rgba(26,161,225,1);
	-webkit-box-shadow: 0px 0px 22px -6px black;
	   -moz-box-shadow: 0px 0px 22px -6px black;
	        box-shadow: 0px 0px 22px -6px black;
}

.container{
	/* padding-bottom:50px; Height of the footer element */
}

.footer {
	height:50px;
	width:100%;
	background-color: rgba(50, 50, 50, 1);
	position:absolute;
	bottom:0;
	left:0;
}

/*-------------------------------------------------------------------------*/
/*DRAWER ICON STUFF--------------------------------------------------------*/

/* DrawerClosed */ 
.drawer-hamburger{
	width: 75px;
	margin-top: -15px;
	padding: 26px;
}

.drawer-hamburger-icon{
	height:2px;
}

.drawer-hamburger-icon::before{
	height:2px;
	margin-top: 3px;
}

.drawer-hamburger-icon::after{
	height:2px;
	margin-top: -3px;
}

/* DrawerOpen */
.drawer-open .drawer-hamburger{
	margin-top: -13px;
}

.drawer-open .drawer-hamburger-icon::before{
	margin-top: -2px;
}

.drawer-open .drawer-hamburger-icon::after{
	margin-top: -2px;
}

.drawer-left.drawer-open .drawer-hamburger
{
	transform: translateX(0px) translateY(0px);
}
/*-------------------------------------------------------------------------*/
/*SIDE BAR STUFF-----------------------------------------------------------*/

		/* WIDTH SIDE BAR IS 280PX */
		
.client_info{
	
}

.client_info .client_logo{
	width:100px;
    height:100px;
	
    border-radius:100px;
	border-style: solid;
    border-color: rgba(255,255,255,0.8);
	
	margin: 0 auto;
	
    line-height:100px;
    text-align:center;

	background-image: url(http://www.xcelchassiswest.com/images/function_images/profile_pictures/no_user_pic.png);
  
}

.client_info .client_repname{
	width:280px;
	height: 20px;
	
	margin-top: 10px;
	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
    color: white;
	
    line-height:20px;
    text-align:center;
}

.client_info .client_email{
	width:280px;
	height: 20px;
	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	
    line-height:20px;
    text-align:center;
}

.drawer-menu{
	
}

.drawer-menu .drawer-menu-item{
	padding: 15px 15px 15px;
}

.drawer-menu .drawer-menu-item a{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
    color: white !important;
	height: 20px;
	line-height: 20px;
	display: block;
}

.drawer-menu .drawer-menu-item:nth-last-child(1){
	border-bottom: 0px solid rgba(40,40,40,1.0);	
}

.icon-home{
	display:inline-block;
	width: 17px;
	height: 17px;
	background-image: url("../img/icons/home.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	margin-right: 5px;
	vertical-align: -2px;
}

.icon-folder{
	display:inline-block;
	width: 17px;
	height: 17px;
	background-image: url("../img/icons/folder.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	margin-right: 5px;
	vertical-align: -2px;
}

.icon-power{
	display:inline-block;
	width: 17px;
	height: 17px;
	background-image: url("../img/icons/power.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	margin-right: 5px;
	vertical-align: -2px;
}
	
.drawer-footer{
	width: 100%;
	padding: 0 !important;
}

.drawer_logo{
	display:block;
	width: 70px;
	height: 30px;
	background-image: url("../img/logos/Logo_White.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	margin: 0 auto;
}

.company_info{
	width: 100%;
	/*border-top: 1px solid rgba(40,40,40,1.0);*/
	padding-top: 10px;
	margin-top: 15px;
}

.company_info .company_slogan{
	margin-top: -5px;
	width: 100%;
	height: 15px;
	
	line-height: 10px;
    text-align:center;
	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
    color: white;
}


/*-------------------------------------------------------------------------*/
/*TOP BAR STUFF------------------------------------------------------------*/

.header_title{

}

/*-------------------------------------------------------------------------*/
/*LOGIN STUFF------------------------------------------------------------*/

.login_partial .login_form{
	width: 320px;
	height: 440px;
}

.login_form .login_logo{
	height: 200px;
	width: 200px;
}

.login_form .login_title{
    font-size: 35px;
	margin-bottom: 40px;
}

.login_form .login_user{
	width:320px;
	height: 40px;
}

.login_form .login_user .login_user_name{
	height: 20px;
	width: 20px;
}

.login_form .login_pass{
	width:320px;
	height: 40px;
}

.login_form .login_pass .login_pass_name{
	height: 20px;
	width: 20px;
}

.login_form .login_pipe{
	height: 20px;
}

.login_form .login_textarea{
	display: inline-block;
	width: 250px;
	height: 40px;
	line-height: 40px;
    font-size: 16px;
}

.login_button{
	display: block;
	height:  40px;
	width: 320px;
    font-size: 16px;
	line-height: 40px;
}

.login_button:hover{
	
}

/* MY Projects */

.project_container{
	display:block;
	max-width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	
	height: 100%;
	min-height: 30px;
	
	background-color: white;
	
	border-bottom: 1px solid rgb(220,220,220);
	line-height: 0px;
	position: relative;
	padding-bottom: 10px;
}

.project_container:hover{
	cursor: pointer;
}

.involver{
	margin: 0 0;
	width: 100%;
	position: static;
	height: 100%;
	padding-bottom: 0px;
	
}

.project_container .project_calendar{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 100%;
	
	margin-left: 10px;
}

.project_calendar .calendar{
	display: block;
	
	overflow:hidden;
	
	width: 50px;
	height: 50px;
	
	background-image: url("../img/icons/calendar.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	margin-top: 10px;
}

.calendar .calendarDay{
	display:block;
	
	color: white;
	font-family: 'ALEGREYA';
	font-size:36px;
	line-height: 36px;
	
	text-align: center;
	vertical-align: top;
	margin-top: 8px;
	
	
}

.timeline{
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: rgb(220,220,220);
	
	left: 80px;
	top: 0px;
}

.circleGreen{
	width: 24px;
	height: 24px;
	border-radius:24px;
	
	background-color: rgb(46, 204, 113);
	position: absolute;
	
	top: 16px;
	left: 69px;
}

.circleRed{
	width: 24px;
	height: 24px;
	border-radius:24px;
	
	background-color: #c0392b;
	position: absolute;
	
	top: 16px;
	left: 69px;
}

.circlep1{
	display:block;
	position: absolute;
	
	width: 16px;
	height: 16px;
	
	background-image: url("../img/icons/p1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	top: 20px;
	left: 73px;
}

.circlep2{
	display:block;
	position: absolute;
	
	width: 16px;
	height: 16px;
	
	background-image: url("../img/icons/p2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	top: 20px;
	left: 73px;
}

.project_container .project_state{
	display: inline-block;
	width: 30px;
	height: 100%;
	
	margin-left: 10px;
	overflow:auto;
	vertical-align: top;
}

.project_text{
	display: inline-block;
	max-width: 65%;
	margin-left: 34px;
}

.project_container .project_title{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	color: rgb(9,113,206);
	font-family: 'LUCIDA';
	font-size: 12px;
}

.project_container .project_name{
	display: inline-block;
	margin-left: 5px;
	margin-top: 8px;
	
	vertical-align: top;
	
	color: rgb(63,72,75);
	font-family: 'LUCIDA';
	font-size: 15px;
	line-height: 20px;
  
}

.project_container .project_assdate{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	background-color: rgb(9,113,206);
	color: white;
	font-family: 'LUCIDA';
	font-size: 12px;
  
}

.project_container .project_date{
	display: inline-block;
	margin-top: 0px;
	margin-left: 5px;
	
	vertical-align: top;

	color: rgb(180,180,180);
	font-family: 'LUCIDA';
	font-size: 12px;
	line-height: 20px;
	
	overflow: hidden;
  
}

.project_container .project_typeadm{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	background-color: rgb(9,113,206);
	color: white;
	font-family: 'LUCIDA';
	font-size: 12px;
  
}

.project_container .project_adm{
	display: inline-block;
	margin-top: 0px;
	margin-left: 5px;
	
	vertical-align: top;

	color: rgb(180,180,180);
	font-family: 'LUCIDA';
	font-size: 12px;
	line-height: 20px;
	
	overflow: hidden;
  
}

.project_container .project_disp{
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	color: rgb(9,113,206);
	font-family: 'LUCIDA';
	font-size: 12px;
  
}

.project_container .project_dispGreen{
	float:right;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: rgb(46, 204, 113);
}

.project_container .project_dispRed{
	float:right;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: #c0392b;
}

.form_question .qdesc{
	margin-left: 10px;
	margin-right: 10px;
}

.rating{
	margin-left: 10px;
	margin-top: 10px;
}

.unsatisfaction textarea{
	margin-left: 10px;
	width: 85%;
}


