html,
body{
  margin:0;
  padding:0;
  height:100%;
  background-color: white;
  overflow: auto !important;
}

.drawer-default{
  /*background-color: rgba(50,50,50,1.0);*/
  background-color: rgba(17,44,147,1.0);
}

.hide {
  display:none !important;
}

/* FONTS ------------------------------------------------------------------------------------------------ */

@font-face
{
  font-family: LUCIDA;
  src: url(../fonts/LucidaSansRegular.ttf);
}

@font-face {
  font-family: ALEGREYA;
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans SC Black'), local('AlegreyaSansSC-Black'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/AjAmkoP1y0Vaad0UPPR466YU_-P-PSoScPQN92M0xOA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/alegreyasanssc/v3/AjAmkoP1y0Vaad0UPPR46-s4332CIbGY9ipgCXO5zgA.woff) format('woff');
}

@font-face {
  font-family: SOURCESANS;
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGEo0As1BFRXtCDhS66znb_k.woff2) format('woff2'), url(http://fonts.gstatic.com/s/sourcesanspro/v9/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}



/*----------------------------------------------------------------------*/


header {
  height: 50px;
  width: 100%;
  background-color: #e9e5dc;
  -webkit-box-shadow: 0px 0px 15px -6px black;
  -moz-box-shadow: 0px 0px 15px -6px black;
  box-shadow: 0px 0px 15px -6px black;
  position: fixed;
  z-index: 1020;
  
  /*top:0;*/
  
 /* margin-top: -19px; Não percebo o que se passa com o NGSCOPE, ele fica com tamanho sem motivo */
}

.container{
  /* padding-bottom:100px;  Height of the footer element */
  padding-top: 60px;
  
}

.footer {
	height:100px;
	width:100%;
	background-color: rgba(50, 50, 50, 1);
	position:absolute;
	bottom:0;
	left:0;
}


input:focus{
  outline: 0;
  text-decoration: none;
}

/*--------------------------------------------------------------*/
/* PARTIALS ----------------------------------------------------*/

.login_partial
{
  height:100%;
  width: 100%;

  min-height: 520px;
  background: -webkit-linear-gradient(#16addb, #2a4991); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#16addb, #2a4991); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#16addb, #2a4991); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#16addb, #2a4991); /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
  position: absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  overflow:auto;
  
   z-index: 1060;
}

.user_partial
{
  height:100%;
  width: 100%;

  background: url(../img/backgrounds/user_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
}

.projects_partial
{
  min-height:100%;
  width: 100%;
  
  background: -webkit-linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
}

.form_partial
{
  min-height:100%;
  width: 100%;
  
  background: -webkit-linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgb(37,183,230), rgb(49,125,188)); /* Standard syntax */
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;
  background-attachment: fixed;
}


/*-------------------------------------------------------------------------*/
/*DRAWER ICON STUFF--------------------------------------------------------*/

/* DrawerClosed */ 
.drawer-hamburger{
  margin-top: -15px;
}

.drawer-hamburger-icon{
  background-color: #16addb;
}

.drawer-hamburger-icon::before{
  background-color: #16addb;
}

.drawer-hamburger-icon::after{
  background-color: #16addb;
}

/* DrawerOpen */
.drawer-open .drawer-hamburger{

}

.drawer-open .drawer-hamburger-icon::before{
  background-color: #16addb;
}

.drawer-open .drawer-hamburger-icon::after{
  background-color: #16addb;
}

.drawer-overlay-upper{
  background-color: rgba(255, 255, 255, 0.5) !important;
}

/*-------------------------------------------------------------------------*/
/*SIDE BAR STUFF-----------------------------------------------------------*/

/* WIDTH SIDE BAR IS 280PX */

/*HEXAGON-------------------------------------------------------------------*/

.hexagon {
  position: relative;
  width: 300px; 
  height: 173.21px;
  margin: 86.60px 0;
  background-image: url(http://csshexagon.com/img/meow.jpg);
  background-size: auto 346.4102px;
  background-position: center;
}

.hexTop,
.hexBottom {
  position: absolute;
  z-index: 1;
  width: 212.13px;
  height: 212.13px;
  overflow: hidden;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background: inherit;
  left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
  content: "";
  position: absolute;
  width: 300.0000px;
  height: 173.20508075688775px;
  -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  background: inherit;
}

.hexTop {
  top: -106.0660px;
}

.hexTop:after {
  background-position: center top;
}

.hexBottom {
  bottom: -106.0660px;
}

.hexBottom:after {
  background-position: center bottom;
}

.hexagon:after {
  content: "";
  position: absolute;
  top: 0.0000px;
  left: 0;
  width: 300.0000px;
  height: 173.2051px;
  z-index: 2;
  background: inherit;
}

/*------------------------------------------------------------------------------*/
.client_info{
  padding-top: 10px;
  width: 100%;

  border-bottom: 1px solid rgb(95,114,183);
  padding-bottom: 20px;
  
  background-color: rgb(95,114,183);
}

.client_info .client_logo{
  width:100px;
  height:100px;

  border-radius:100px;
  border-style: solid;
  border-color: rgba(255,255,255,0.8);

  margin: 0 auto;

  line-height:100px;
  text-align:center;
  
  background-image: url(http://www.xcelchassiswest.com/images/function_images/profile_pictures/no_user_pic.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  /*background-size: 110% 110%;*/
  
  
}

.client_info .client_repname{
  width:280px;
  height: 20px;

  margin-top: 10px;

  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: white;

  line-height:20px;
  text-align:center;
}

.client_info .client_email{
  width:280px;
  height: 20px;

  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  /*color: rgba(26,161,225,1);*/
  color: white;

  line-height:20px;
  text-align:center;
}

.drawer-menu{

}

.drawer-menu .drawer-menu-item:nth-child(odd){
  padding: 15px 15px 15px;
  
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: white !important;
  height: 20px;
  line-height: 20px;
  display: block;
  
  background-color: rgb(10,36,135);
}

.drawer-menu .drawer-menu-item:nth-child(even){
  padding: 15px 15px 15px;
  
  font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: white !important;
  height: 20px;
  line-height: 20px;
  display: block;
  
  
}

.drawer-menu .drawer-menu-item:hover{
	cursor: pointer;
}

.drawer-menu .drawer-menu-item a{
  /*font-family: Arial,Helvetica,sans-serif;
  font-size: 16px;
  color: rgba(200,200,200,1.0) !important;
  height: 20px;
  line-height: 20px;
  display: block;*/
  
   color: white !important;
}

.drawer-menu .drawer-menu-item:nth-last-child(1){
  /*border-bottom: 0px solid rgba(40,40,40,1.0);*/	
}

.icon-home{
  display:inline-block;
  width: 17px;
  height: 17px;
  background-image: url("../img/icons/home.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  vertical-align: -2px;
}

.icon-folder{
	display:inline-block;
	width: 17px;
	height: 17px;
	background-image: url("../img/icons/folder.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	margin-right: 5px;
	vertical-align: -2px;
}

.icon-power{
	display:inline-block;
	width: 17px;
	height: 17px;
	background-image: url("../img/icons/power.png");
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	margin-right: 5px;
	vertical-align: -2px;
}


.drawer-footer{
  width: 100%;
  padding: 0 !important;
}

.drawer_logo{
  display:block;
  width: 70px;
  height: 30px;
  background-image: url("../img/logos/Logo_White.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin: 0 auto;
}

.company_info{
  width: 100%;
  padding-top: 10px;
  margin-top: 15px;
}

.company_info .company_slogan{
  margin-top: -5px;
  width: 100%;
  height: 15px;

  line-height: 10px;
  text-align:center;

  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: white;
}

/*-------------------------------------------------------------------------*/
/*TOP BAR STUFF------------------------------------------------------------*/

.header_title{
  float: right;
  width: 59px;
  height: 25px;
  margin-top: 13px;
  margin-right: 10px;
  
  background: url(../img/logos/logofont.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center center;
}

.header_title span {
  margin-right: 12px;
  color: #16addb;
  font-family: 'LUCIDA';
  font-size: 15px;
}
.header_title span b{
  font-size: 25px;
  font-weight: bold;
}

/*-------------------------------------------------------------------------*/
/*LOGIN STUFF------------------------------------------------------------*/

.login_partial .login_form{
  width: 400px;
  height: 510px;

  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.login_form .login_logo{
  display: block;
  height: 225px;
  width: 225px;

  background: url(../img/logos/Login_Logo.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center center;

  margin: 0 auto;
  margin-bottom: 10px;
}

.login_form .login_user{
  width:400px;
  height: 45px;
  border: 1px solid #fff;
}

.login_form .login_user .login_user_name{
  height: 25px;
  width: 25px;
  display: inline-block;

  background: url(../img/icons/user_white_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;

  margin-left: 10px;
  margin-top: 10px;
}

.login_form .login_pass{
  width:400px;
  height: 45px;
  margin-top: 20px;
  border: 1px solid #fff;
}

.login_form .login_pass .login_pass_name{
  height: 25px;
  width: 25px;
  display: inline-block;

  background: url(../img/icons/password_white_icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center center;

  margin-left: 10px;
  margin-top: 10px;

}

.login_form .login_pipe{
  display: inline-block;
  height: 25px;
  width: 1px;
  background-color: white;
  vertical-align: top;
  margin-top: 10px;
  margin-left: 10px;

}

.login_form .login_textarea{
  display: inline-block;
  width: 300px;
  height: 45px;
  background-color: rgba(255,255,255,0.0);
  border: none;
  resize: none;
  line-height: 50px;
  vertical-align: top;

  font-family: LUCIDA;
  font-size: 18px;
  color:white;

  margin-top: -1px;
  margin-left: 10px;
}

.login_button{
  display: block;
  height:  45px;
  width: 400px;
  font-family: LUCIDA;
  font-size: 18px;
  color:rgb(120,120,120);
  line-height: 45px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  background-color: white;
  transition: all 0.3s ease 0s;
}

.login_button:hover{
  cursor:pointer;
  background-color: rgba(120,120,120,0.7);
  color:white;
}

/** Rating Forms **/

.form_title {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  height: 30px;
}
.form_title > span {
  width: 100%;
  float: left;
}
.form_header {
  width: 100%;
  height: 200px;
  padding: 10px;
}
.form_header > .form_header_section {
  height: 60px;
  position: relative;
  float: left;
  width: 100%;
  margin-top: 10px;
}
.form_header_section > span {
  color: #8C8C8C;
  font-size: 1em;
  font-weight: bold;
  width: 100%;
  float: left;
}
div.project_info_1-1 {
  width: 100%;
}
div.project_info_1-1 > span {
  width: 100%;
  float: left;
}
div.project_info_1-2 {
  width: 50%;
  float: left;
}
div.project_info_1-2 > span{
  width: 100%;
  float: left;
}

.form_question {
  border-bottom: 1px solid white;
  min-height: 40px;
  margin-top: 15px;
  width: 100%;
  padding-bottom: 15px;
}

.form_question .qdesc{
  color: white;
  
  font-family: 'LUCIDA';
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  padding-bottom: 10px;
  
}

.qdesc span{
	color: rgb(45,55,144);
}

.form_last_question {
  border-bottom: 1px solid rgba(22, 173, 219, 0.8);
  border-top: 1px solid rgba(22, 173, 219, 0.8);
  min-height: 50px;
  margin-top: 10px;
  float: left;
  width: 100%;
}

.rating {
  position: relative;
  margin-left: 10px;
  padding-bottom: 10px;
}
.rating input {
  position:absolute;
  filter:alpha(opacity=0);
  -moz-opacity:0;
  -khtml-opacity:0;
  opacity:0;
  cursor:pointer;
  width:17px;
  transform: scale(2, 3);
}
.rating span {
  width:35px;
  height:32px;
  /*padding: 0px 22px 0px 0;*/
  
  display:inline-block;
  background-image:url(../img/icons/triangleSelected.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center center;
  
  margin-right: 5px;
}
.rating input:checked + span {
  background-image:url(../img/icons/triangleSelected.png);
}

.rating input:checked + span ~ span {
  background-image:url(../img/icons/triangleUnselected.png);
}

.submit_button{
  font-family: LUCIDA;
  color:rgb(120,120,120);
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
  background-color: white;
  transition: all 0.3s ease 0s;
  display: block;
  height:  40px;
  width: 320px;
  font-size: 16px;
  line-height: 40px;
}
.submit_button:hover{
  cursor:pointer;
  background-color: rgba(120,120,120,0.7);
  color:white;
}

.submitFormButton{
	display: block;
	height: 45px;
	width: 150px;
	font-family: LUCIDA;
	font-size: 18px;
	color: #787878;
	text-align: center;
	margin: 25px auto 0px;
	background-color: rgba(255,255,255,0.8);
	transition: all 0.3s ease 0s;
	border: none;
	border-radius: 3px;
	margin-bottom: 10px;
	  
  -webkit-appearance:none;
  -moz-appearance:none; 
  appearance:none;
}

.unsatisfaction {
  height: 100px;
  width: 100%;
  margin-top: 5px;
  
}
.unsatisfaction span {
  width: 100%;
  float: left;
  padding-left: 5px;
  color: #8C8C8C;
}
.unsatisfaction i {
  float: right;
}
.unsatisfaction textarea {
  resize: none;
  width: 85%;
  height: 80px;
  border-radius: 3px;
  border-style: none; 
  background-color: rgba(255,255,255,0.8);
  line-height: 12px;
  padding: 5px;
  
  font-family: 'LUCIDA';
  font-size: 12px;
  color: rgb(50,60,70);
  
  margin-left: 10px;
}

/* MY Projects */

.project_container{
	max-width: 100%;
	margin-left: 10px;
	margin-right: 10px;
	
	/*border-radius: 5px;*/
}

.details{
	width: 85%;
	margin: 0 auto;
	
	background-color: white;
	overflow:auto;
	padding-bottom:10px;
}

.details .iconid{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detailid.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details .icondate{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detaildate.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details .iconname{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detailname.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details .iconcountry{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detailcountry.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details .icondivision{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detaildivision.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details .iconfunction{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detailfunction.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details .iconmanager{
  display:inline-block;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/detailmanager.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  margin-right: 5px;
  margin-left: 10px;
  vertical-align: top;
}

.details_reply{
  display:inline-block;
  width:49%;
  height: 60px;
  background-image: url("../img/icons/detailform.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.details_reply:hover, .details_mail:hover{
	cursor: pointer;
}

.details_replyun{
  display:inline-block;
  width:49%;
  height: 60px;
  background-image: url("../img/icons/detailformun.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  opacity: 0.1;
}


.details_mail{
  display:inline-block;
  width:49%;
  height: 60px;
  background-image: url("../img/icons/detailemail.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.details .details_title{
	width:100%;
	text-align:center;
	
	font-family: 'LUCIDA';
	font-size: 15px;
	font-weight:bold;
	color: rgb(22,178,226);
	
	margin-top:10px;
	border-bottom: 1px solid rgb(210,210,210);
	padding-bottom: 10px;
}

.details .details_title2{
	width:100%;
	text-align:center;
	
	font-family: 'LUCIDA';
	font-size: 14px;
	color: rgb(50,60,70);
	margin-top:2px;
}

.leftDetail{
	font-family: 'LUCIDA';
	font-size: 12px;
	color: rgb(50,60,70);
	margin-top: 10px;
	padding-bottom: 10px;
	
	border-bottom: 1px solid rgb(210,210,210);
	vertical-align: top;
}

.details_inline{
	border-bottom: 1px solid rgb(210,210,210);
	width:100%;
	margin-top: 10px;
}

.inlineDetail{
	font-family: 'LUCIDA';
	font-size: 12px;
	color: rgb(50,60,70);
	
	padding-bottom: 10px;

	vertical-align: top;
	display:inline-block;
	width:49%;
	margin: 0px auto;
	margin-top: 10px;
}

.leftDetail .text{
	margin-left: 5px;
}

.loading{
	display:block;
	width:100px;
	height: 100px;
	
	background-image: url("../img/icons/loading.gif");
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
	margin: 0 auto;
}

/* Projects */

.project_container{
	display:block;
	max-width: 414px;
	margin-left: 10px;
	margin-right: 10px;
	margin: 0 auto;
	
	height: 100%;
	min-height: 30px;
	
	background-color: white;
	
	border-bottom: 1px solid rgb(220,220,220);
	line-height: 0px;
	position: relative;
	padding-bottom: 10px;
}

.project_container:hover{
	cursor: pointer;
}

.involver{
	margin: 0px auto;
	width: 44%;
	position: relative;
	height: 100%;
	padding-bottom: 10px;
}

.project_container .project_calendar{
	display: inline-block;
	vertical-align: top;
	width: 50px;
	height: 100%;
	
	margin-left: 10px;
}

.project_calendar .calendar{
	display: block;
	
	overflow:hidden;
	
	width: 50px;
	height: 50px;
	
	background-image: url("../img/icons/calendar.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	margin-top: 10px;
}

.calendar .calendarDay{
	display:block;
	
	color: white;
	font-family: 'ALEGREYA';
	font-size:36px;
	line-height: 36px;
	
	text-align: center;
	vertical-align: top;
	margin-top: 8px;
	
	
}

.timeline{
	position: absolute;
	width: 2px;
	height: 100%;
	background-color: rgb(220,220,220);
	
	left: 80px;
	top: 0px;
}

.circleGreen{
	width: 24px;
	height: 24px;
	border-radius:24px;
	
	background-color: rgb(46, 204, 113);
	position: absolute;
	
	top: 16px;
	left: 69px;
}

.circleRed{
	width: 24px;
	height: 24px;
	border-radius:24px;
	
	background-color: #c0392b;
	position: absolute;
	
	top: 16px;
	left: 69px;
}

.circlep1{
	display:block;
	position: absolute;
	
	width: 17px;
	height: 17px;
	
	background-image: url("../img/icons/p1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	top: 19px;
	left: 72px;
}

.circlep2{
	display:block;
	position: absolute;
	
	width: 12px;
	height: 12px;
	
	background-image: url("../img/icons/p2.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	
	top: 22px;
	left: 75px;
}

.project_container .project_state{
	display: inline-block;
	width: 30px;
	height: 100%;
	
	margin-left: 10px;
	overflow:auto;
	vertical-align: top;
}

.project_text{
	display: inline-block;
	max-width: 70%;
	margin-left: 34px;
}

.project_container .project_title{
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	color: rgb(9,113,206);
	font-family: 'LUCIDA';
	font-size: 12px;
}

.project_container .project_name{
	display: inline-block;
	margin-left: 5px;
	margin-top: 8px;
	
	vertical-align: top;
	
	color: rgb(63,72,75);
	font-family: 'LUCIDA';
	font-size: 15px;
	line-height: 20px;
  
}

.project_container .project_assdate{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	background-color: rgb(9,113,206);
	color: white;
	font-family: 'LUCIDA';
	font-size: 12px;
  
}

.project_container .project_date{
	display: inline-block;
	margin-top: 0px;
	margin-left: 5px;
	
	vertical-align: top;

	color: rgb(180,180,180);
	font-family: 'LUCIDA';
	font-size: 12px;
	line-height: 20px;
	
	overflow: hidden;
  
}

.project_container .project_typeadm{
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	background-color: rgb(9,113,206);
	color: white;
	font-family: 'LUCIDA';
	font-size: 12px;
  
}

.project_container .project_adm{
	display: inline-block;
	margin-top: 0px;
	margin-left: 5px;
	
	vertical-align: top;

	color: rgb(180,180,180);
	font-family: 'LUCIDA';
	font-size: 12px;
	line-height: 20px;
	
	overflow: hidden;
  
}

.project_container .project_disp{
	float:right;
	margin-top: 10px;
	margin-right: 10px;
	padding-left: 2px;
	padding-right: 2px;
	border-radius: 2px;
	border: 1px solid rgb(9,113,206);
	
	color: rgb(9,113,206);
	font-family: 'LUCIDA';
	font-size: 12px;
  
}

.project_container .project_dispGreen{
	float:right;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: rgb(46, 204, 113);
}

.project_container .project_dispRed{
	float:right;
	margin-top: 15px;
	margin-right: 10px;
	border-radius: 50%;
	width: 10px;
	height: 10px; 
	background-color: #c0392b;
}
